.todo{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: relative;
}
.todo-input-div{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}

.todo-inputs{
    border: none;
    border-radius: 10px;
    outline: none;
}

.todo-card-p{
    text-align: justify;
    text-justify: inter-word;
}

.todo-card{
    border: 1px solid black;
}
.todo-card-icon{
    cursor: pointer;
    font-size: 18px;
}

.del{
    color: rgba(240, 0, 0, 0.87);
}

.card-icon-head{
    cursor: pointer;
}
.todo-update{
    position: absolute;
    top: 80px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 80vh;
    display: none;
}
.update{
    height: 100%;
}