.user-icon{
    width: 20px;
    height: 20px;
}

.navbar-brand{
    color: #9845f7;
    font-size: 25px;
    font-weight: bold;
}

.btn-nav{
    background-color: #9845f7;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}